---
layout: default
---

<div class="home top-level">
  <div class="section headline">

    <div class="jumbotron main">
      <div class="container-fluid">

        <div class="row">
          <div class="col-lg-12">
            <p class='pitch'>Software Craftsmanship and Thoughtful Design At Your Fingertips</p>

            <p class="subpitch">
              We're more than just programmers and designers. We are business minded problem solvers. Leverage our extensive industry experience to help you develop whatever you can dream up.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="main container-fluid">

    <div class="row section development">
      {% include development_card_start.html
          title="Web Apps" asset="web1a.jpg" %}
        {% include development_card_end.html %}

      {% include development_card_start.html
          title="Mobile Apps" asset="mobile1a.jpg" %}
        {% include development_card_end.html %}

      {% include development_card_start.html
          title="Rest APIs" asset="code5.png" %}
        {% include development_card_end.html %}

      {% include development_card_start.html
          title="Dev Ops / Infrastructure" asset="ops1a.jpg" %}
        {% include development_card_end.html %}

      {% include development_card_start.html
          title="Business and Process Consulting" asset="process1a.jpg" %}
        {% include development_card_end.html %}

      {% include development_card_start.html
          title="UI / UX Design" asset="design1a.jpg" %}
        {% include development_card_end.html %}
    </div>

    <div class="row section services">
      <div class="col-sm-12 header">
        <h2>We can handle every part of your project. From design to build and beyond</h2>
      </div>

      <div class="cards clearfix">
        {% include content_card_start.html
          type='service' subtype='design'
          title="Design" asset="design" grid='md-4' %}

              <p>Great web and mobile apps are more than just code. They are the cumulutive result of thousands of small visual and technical design decisions. We carefully research your business and challenges and create detailed visual and technical design documents from prototypes to high fidelity production ready designs.</p>
        {% include content_card_end.html %}

        {% include content_card_start.html
        type='service' subtype='develop'
        title="Develop" asset="develop" grid='md-4' %}

              <p>At our hearts, we are software craftsman. With our decades of cumulative experience, if you can think of it, we can build it. If we are starting from scratch, we evaluate the project and pick the optimal stack for the job. If you've already started developing, we'll select our team members who already have experience in the tools you are using.</p>
        {% include content_card_end.html %}

        {% include content_card_start.html
          type='service' subtype='manage'
          title="Manage" asset="manage" grid='md-4' %}

              <p>It's not enough simply to be technically competent. Good projects need to be carefully managed. We are strong believers in sprint based agile and scrum, and well planned, time estimated work that allow us to stay on time and on budget while allowing us to be flexible in terms of project scope. </p>
        {% include content_card_end.html %}
      </div>
    </div>
  </div>

  <div class="section work">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 header">
          <h2>Our Principles</h2>
        </div>
      </div>


      <div class="row">


        {% include principle_card_start.html
          title="Software Craftsmanship" asset="tool-box" %}
            <p>Writing software is part art and part science. We are adamant about using best practices like extensive test coverage, Continuous integration and deployment, and writing clean, carefully architected code to ensure an exceptionally high level of code quality and productivity.</p>
        {% include principle_card_end.html%}

        {% include principle_card_start.html
          title="Design Thinking" asset="brainstorm" %}
            <p>Research, design, build, iterate. These concepts are equally crucial to creating stunning UIs as they are to building reliable and performant software. We take an creative desing based approach to every problem we tackle.</p>
        {% include principle_card_end.html%}

        {% include principle_card_start.html
          title="Open Communication" asset="conversation" %}
            <p>Communication is the life blood of every project. We understand the importance of keeping multiple open lines of communication and promptly responding to questions and feedback. We hear you. </p>
        {% include principle_card_end.html%}

        {% include principle_card_start.html
          title="Collaboration" asset="network" %}
            <p>Good software is not built in a vacuum. We take a collaborative approach to every project both with our clients and in our internal dev and design processes.</p>
        {% include principle_card_end.html%}

        {% include principle_card_start.html
          title="Sprint Based Agile" asset="planning" %}
            <p>No one specific set of rules works is sufficient to orgnanize work on all projects. We do believe however that short (1-3 week) estimated sprints allow us to move fast while allowing sufficient time to re-evaluate scope and change if necessary.</p>
        {% include principle_card_end.html%}

        {% include principle_card_start.html
          title="Flexibility" asset="flexible" %}
            <p>All of our processes from our open tech stack to our iterative, collaborative approach to design and dev reflect our value that good work and relationships come from flexible teams. Please let us know how we can better help you achieve your goals.</p>
        {% include principle_card_end.html%}

    </div>
  </div>

  <div class="section engage">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 header">
          <h2>How We Engage</h2>
        </div>
      </div>

      <div class="row cards">
        {% include engage_card_start.html
          title="Our Team, Your Project" asset="team" %}

          <p>We can handle your project from start to scratch with our designers, developers and project managers. You provide the product owner who tells us what to build and we make it happen. We can do this on a fixed bid or hourly basis.</p>

        {% include engage_card_end.html%}

        {% include engage_card_start.html
          title="Augment Your Team" asset="individual" %}

          <p>Need to fill a hole on your team with a subject matter expert. We can help with everything from architecture to UI design and everything down in the trenches in between. A team augmentation contract is on an hourly basis.</p>

        {% include engage_card_end.html%}

      </div>
    </div>
  </div>

  <div class="section get-started clearfix">
    <div class="container-fluid">

      <div class="row">
        <div class=" col-sm-6 start-panel image-container"></div>

        <div class=" col-sm-6 col-xs-12 start-panel content-container">
          <h2>Ready to turn your ideas into products?</h2>

          <h2>Let's Talk</h2>
          <a href="/contact">
            <div class="btn btn-primary">Contact Us</div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

