---
layout: default
---

<div class="home top-level">
  <div class="section headline">

    <div class="jumbotron main">
      <div class="container">

        <div class="row pitch">
          <div class="col-xs-12">
            <p class='pitch'>We Design And Build Web Apps</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="main container-fluid">

    <div class="row section services">
      <div class="col-xs-12 header">
        <h2>What We Do</h2>
      </div>

      <div class="cards clearfix">
        {% include card_start.html
          type='service' subtype='design'
          title="Design" asset="design" grid='md-4' %}

              <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
        {% include card_end.html %}

        {% include card_start.html
        type='service' subtype='develop'
        title="Develop" asset="develop" grid='md-4' %}

              <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
        {% include card_end.html %}

        {% include card_start.html
          type='service' subtype='manage'
          title="Manage" asset="manage" grid='md-4' %}

              <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
        {% include card_end.html %}
      </div>
    </div>
  </div>

  <div class="section how">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 header">
          <h2>How We Work</h2>
        </div>
      </div>

      <div class="row cards">
        {% include card_start.html
          type='mode' subtype='team'
          title="Our Team, Your Project" asset="team"
          grid='xs-12' %}
              <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>


              <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>


              <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
        {% include card_end.html %}

        {% include card_start.html
          type='mode' subtype='individual'
          title="Temporary Team Member" asset="individual"
          grid='xs-12' %}
              <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>


              <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>


              <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
        {% include card_end.html %}
      </div>
    </div>
  </div>

  <!-- make this responsive -->
  <div class="section get-started clearfix">
    <div class="start-panel image-container"></div>

    <div class="start-panel content-container">

    </div>
  </div>
</div>

