---
layout: default
---

<div class="team top-level">

  <div class="section headline">
    <h1 class='pitch'>Who We Are</h1>
  </div>

  <div class="main container-fluid">
    <div class="row section developers">

      <div class="col-xs-12">
        <div class="row devloper-cards">

          {% include team_card_start.html name="Andrew Max" asset="andrew.jpeg" role="Founder | Developer"%}
             <p>With 7+ years of experience developing software, Andrew has worked as everything from developer number two at a drone startup to a consultant for one of the five largest U.S. banks and the largest hospital system in Pennsylvania. He is deeply passionate about writing clean, well architected code, and prefers to work full stack.</p>

            <p>He spends his free time mountain biking, snowboarding, and traveling around the world and keeps a travel blog at <a target="_blank" href="https://andrew-max.github.io">andrew-max.github.io</a>.</p>
          {% include team_card_end.html %}

          {% include team_card_start.html name="Ben Dichter" asset="ben.jpeg" role="Chief Scientist"%}
            <p>
              Ben has a PhD in Bioengineering from UC Berkeley and UCSF and 12 years of experience in computational neuroscience. He acts as a scientist liaison for Sapa bridging the gaps between our engineers and the scientists we work with. He has extensive experience working with diverse types of neuroscience data and is passionate about implementing data solutions to accelerate science within and across labs.
            </p>

            <p>
              In his spare time Ben is an avid traveler and west coast swing dancer.
            </p>
          {% include team_card_end.html %}

          {% include team_card_start.html name="Andre Dickson" asset="andre.jpg" role="Full Stack Developer" %}
              <p>After 11 years in the industry, Andre is well-versed in delivering complex software products with experience in full stack development, dev-ops, marketing and user experience . He's comfortable with everything from modeling data flows and procedures to putting in the final fixes for pesky IE bugs but is happiest delivering robust, bug-free, front-end user experiences.</p>
          {% include team_card_end.html %}
        </div>
      </div>
    </div>
  </div>
</div>



