---
layout: default
---

<div class="team top-level">

  <div class="section headline">
    <h1 class='pitch'>Who We Are</h1>
  </div>

  <div class="main container-fluid">
    <div class="row section developers">

      <div class="col-xs-12 header">
        <h1>Developers and Dev Ops</h1>
      </div>

      <div class="col-xs-12">
        <div class="row devloper-cards">

          {% include team_card_start.html name="Andrew Max" asset="andrew.jpeg" grid="col-lg-6 col-sm-12" %}
             <p>With 7+ years of experience developing software, Andrew has worked as everything from developer number two at a drone startup to a consultant for one of the five largest U.S. banks and the largest hospital system in Pennsylvania. He is deeply passionate about writing clean, well architected code, and prefers to work full stack.</p>

              <p>Andrew spends his free time mountain biking, snowboarding, and traveling around the world and keeps a travel blog at <a href="andrew-max.github.io">andrew-max.github.io</a>.</p>

              <p>Andrew is the founder, CEO, and team lead at Qubitix.</p>
          {% include team_card_end.html %}

          {% include team_card_start.html name="Animal" asset="animal.png" grid="col-lg-6 col-sm-12" %}
              <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos.Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
          {% include team_card_end.html %}

          {% include team_card_start.html name="Bugs Bunny" asset="bugs.png" grid="col-lg-6 col-sm-12" %}
              <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos.Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
          {% include team_card_end.html %}

          {% include team_card_start.html name="Anna Karenina" asset="anna.jpg" grid="col-lg-6 col-sm-12" %}
              <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos.Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
          {% include team_card_end.html %}
        </div>
      </div>
    </div>


 <div class="row section developers">

      <div class="col-xs-12 header">
        <h1>Designers</h1>
      </div>

      <div class="col-xs-12">
        <div class="row devloper-cards">

          {% include team_card_start.html name="Allison" asset="allison.jpg" grid="col-lg-6 col-sm-12" %}

          <p>
            Allison is a digital product designer with over 6+ years of experience designing for web and mobile. She spent 5 years working in Silicon Valley before heading out to travel the world and work remotely full time. Armed with her background in visual graphic design, her work combines a strong design aesthetic with data-driven, user focused UX thinking.
          </p>

          <p>
            Allison spends her free time exploring via bicycle, seeking out live music, and petting office dogs.
          </p>
          {% include team_card_end.html %}

          {% include team_card_start.html name="Animal" asset="animal.png" grid="col-lg-6 col-sm-12" %}
              <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos.Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
          {% include team_card_end.html %}
        </div>
      </div>
    </div>
  </div>
</div>
