---
layout: default
---

<div class="team top-level">

  <div class="section headline">
    <h1 class='pitch'>Who We Is</h1>
  </div>

  <div class="main container-fluid">
    <div class="row section general">

      {% include team_card_start.html name="Chewbaca" asset="chewbaca.gif" grid="col-lg-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos.Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include team_card_end.html %}

      {% include team_card_start.html name="Animal" asset="animal.png" grid="col-lg-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos.Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include team_card_end.html %}

      {% include team_card_start.html name="Bugs Bunny" asset="bugs.png" grid="col-lg-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos.Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include team_card_end.html %}

      {% include team_card_start.html name="Anna Karenina" asset="anna.jpg" grid="col-lg-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos.Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include team_card_end.html %}
    </div>

  </div>
</div>
