---
layout: default
---

<div class="tech top-level">
  <div class="section headline">

    <div class="jumbotron main">
      <div class="container">

        <div class="row pitch">
          <div class="col-xs-12">
            <p class='pitch'>We Work With Your Stack</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="main container-fluid">

    <div class="row section header">
      <div class="col-xs-12">
        <h2>Web</h2>
      </div>
    </div>

    <div class="row section">
      {% include tech_card_start.html title="Ruby / Ruby on Rails" asset="ruby.svg" %}
          <p>A web-application framework that includes everything needed to create database-backed web applications according to the Model-View-Controller (MVC) pattern. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="React" asset="react.png" %}
          <p>React makes it easy to create interactive UIs. Design views for each state in your application, and React will efficiently update and render just the right components when your data changes. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="ember.js" asset="ember.png" %}
          <p>Write less code with Ember's integrated data bound templates. Ember.js incorporates common idioms so you can focus on what makes your app special, not reinventing the wheel. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Angular" asset="angularjs.png" %}
          <p>AngularJS is what HTML built for web-apps. Declarative templates with data-binding, MVC, dependency injection and great testability story all implemented with pure client-side JavaScript!</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="node.js" asset='nodejs.png' %}
          <p>Node.js. Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Postgresql" asset='postgresql.png' %}
          <p>PostgreSQL, is an object-relational database management system with an emphasis on extensibility and standards compliance.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Sass" asset="sass.png" %}
          <p>Sass (Syntactically Awesome Style Sheets) is an extension of CSS that enables you to use things like variables, nested rules, inline imports and more.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Wordpress" asset='wordpress.png' %}
          <p>WordPress is an online, open source website creation tool written in PHP. It's one of the easiest and most powerful blogging and website content management system (or CMS) in existence today.</p>
      {% include tech_card_end.html %}
    </div>

    <div class="row section header">
      <div class="col-xs-12">
        <h2>Build / Deploy / Ops</h2>
      </div>
    </div>

    <div class="row section general">
      {% include tech_card_start.html title="Git" asset="git.png" %}
          <p>Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="GitHub" asset="github.png" %}
          <p>GitHub is a web-based hosting service for version control using git. It offers all of the distributed version control and source code management functionality of Git as well as adding its own features.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="AWS" asset="aws.png" %}
          <p>Amazon Web Services offers reliable, scalable, and inexpensive cloud computing services. Free to join, pay only for what you use.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Heroku" asset="heroku.png" %}
          <p>Heroku is a platform as a service (PaaS) that enables developers to build, run, and operate applications entirely in the cloud.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Docker" asset="docker.png" %}
          <p>Docker is an open platform for developers and sysadmins to build, ship, and run distributed applications, whether on laptops, data center VMs, or the cloud.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Circle" asset="circle.svg" %}
          <p>CircleCI's continuous integration and delivery platform makes it to rapidly build and release quality software at scale. Build for Linux, macOS, and Android, in the cloud or behind your firewall.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Jenkins" asset="jenkins.png" %}
          <p>Continuous Integration and Continuous Delivery. As an extensible automation server, Jenkins can be used as a simple CI server or turned into the continuous delivery hub for any project.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Netlify" asset="netlify.png" %}
          <p>Deploy modern static websites with Netlify. Get CDN, Continuous deployment, 1-click HTTPS, and all the services you need. </p>
      {% include tech_card_end.html %}
    </div>

    <div class="row section header">
      <div class="col-xs-12">
        <h2>UI / UX / Design</h2>
      </div>
    </div>

    <div class="row section general">

      {% include tech_card_start.html title="Photoshop" asset="photoshop.png" %}
          <p>Create and enhance your photos, images, and designs with Adobe Photoshop CC, the world's best imaging and photo editing software.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Illustrator" asset="illustrator.png" %}
          <p>The industry-standard vector graphics app lets you create logos, icons, drawings, typography and illustrations for print, web, video and mobile.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Sketch" asset="sketch.png" %}
          <p>Sketch is a design toolkit built to help you create your best work — from your earliest ideas, through to final artwork.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="InVision" asset="invision.png" %}
          <p>Powerful design high-fidelity prototyping tools. Upload your design files and add animations, gestures, and transitions to transform your static screens into clickable, interactive prototypes.</p>
      {% include tech_card_end.html %}
    </div>

    <div class="row section header">
      <div class="col-xs-12">
        <h2>Project Management / Business Consulting</h2>
      </div>
    </div>

    <div class="row section general">

      {% include tech_card_start.html title="Pivotal Tracker" asset="pivotal.png" %}
          <p>Pivotal Tracker is the agile project management tool of choice for developers around the world for real-time collaboration around a shared, prioritized backlog.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Jira" asset="jira.png" %}
          <p>Plan, track, and manage your agile and software development projects in Jira. Customize your workflow, collaborate, and release great software.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Slack" asset="slack.png" %}
          <p>Slack software is cloud-based collaboration software. It enables users to chat one on one or in groups, as well as share documents, images, and videos.</p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Trello" asset="trello.png" %}
          <p>Trello is a web-based project management application. It is infinitely flexible and incredibly easy to use.</p>
      {% include tech_card_end.html %}
    </div>
  </div>
</div>
