---
layout: default
---

<div class="tech top-level">
  <div class="section headline">

    <div class="jumbotron main">
      <div class="container">

        <div class="row pitch">
          <div class="col-xs-12">
            <p class='pitch'>We Work With Your Stack In Your Problem Space</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="main container-fluid">

    <div class="row section general">
      <div class="col-xs-12 header">
        <h2>Web</h2>
      </div>
      {% include tech_card_start.html title="Ruby / Ruby on Rails" asset="ruby.svg" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="React" asset="react.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="ember.js" asset="ember.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Angular" asset="angularjs.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="node.js" asset='nodejs.png' grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Postgresql" asset='postgresql.png' grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Sass" asset="sass.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Wordpress" asset='wordpress.png' grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}
    </div>

    <div class="row section general">
      <div class="col-xs-12 header">
        <h2>Build / Deploy /Ops</h2>
      </div>
      {% include tech_card_start.html title="Git" asset="git.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="GitHub" asset="github.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="AWS" asset="aws.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Heroku" asset="heroku.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Docker" asset="docker.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Circle" asset="circle.svg" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Jenkins" asset="jenkins.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Netlify" asset="netlify.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}
    </div>

    <div class="row section general">
      <div class="col-xs-12 header">
        <h2>UI / UX / Design</h2>
      </div>

      {% include tech_card_start.html title="Photoshop" asset="photoshop.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Illustrator" asset="illustrator.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Sketch" asset="sketch.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="InVision" asset="invision.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}
    </div>

    <div class="row section general">
      <div class="col-xs-12 header">
        <h2>Project Management / Business Consulting</h2>
      </div>
      {% include tech_card_start.html title="Pivotal Tracker" asset="pivotal.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Jira" asset="jira.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Slack" asset="slack.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}


      {% include tech_card_start.html title="Trello" asset="trello.png" grid="col-lg-3 col-md-6 col-sm-12" %}
          <p>Tattooed brooklyn stumptown, helvetica vegan direct trade taiyaki chillwave. Bitters actually bushwick lomo. Banh mi letterpress put a bird on it ugh meggings keffiyeh mixtape, master cleanse tacos. </p>
      {% include tech_card_end.html %}
    </div>
  </div>
</div>
