<footer>
  <div class="site-footer container-fluid">
    <div class="row main">
      <div class="col-xs-12">
        <img class="logo" src="/assets/logos/logo-icon.png"/>

        <ul class="link-list">
          <li><a href="/">Home</a></li>
          <li><a href="/tech">Tech</a></li>
          <li><a href="/team">Team</a></li>
        </ul>

        <!-- <p>Email: <a href="mailto:andrew@sapatech.com" target="_top">andrew@sapatech.com</a></p> -->
        <!-- <p>© 2019 All rights reserved by <span class="bright">Sapa Services LLC</span></p> -->
      </div>
    </div>
  </div>
</footer>
