<header class="site-header">

  <div class="wrap">
    <a href="/">
      <img class="logo" src="{{"assets/logos/logo2.jpg" | prepend: site.baseurl }}">
    </a>

    <nav class="navbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/tech">Tech & Tools</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </nav>

</header>
