.home .headline {
  .jumbotron {
     height: 700px;
     background-size: cover;
     z-index: 1;

    &.main {
      position: relative;
       background-image: url(/assets/images/banner3.jpg);
    }

    .pitch {
      padding-top: 80px;
      z-index: 20;

      p{
        color: white;
        font-size: 72px;
        font-weight: 800;
        text-align: center;
      }
    }

  }
}
