$dark-background: #333;
$light-background: #f5f5f5;

.home .headline {
  .jumbotron {
     height: 800px;
     background-size: cover;
     z-index: 1;

    &.main {
      position: relative;
       background-image: url(/assets/images/banner3.jpg);
    }

    .pitch {
      padding-top: 80px;
      z-index: 20;

      p{
        color: white;
        font-size: 72px;
        font-weight: 800;
        text-align: center;
      }
    }
  }
}

.header h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  color: black
}

.cards {
  padding-bottom: 80px;

  .card {
    margin: 10px 50px;
    border: 7px solid #ddd;
    border-radius: 1px;

    .card-header {
      height: 130px;
    }
    .card-body {
      margin-top: 40px;
      padding: 10px 30px;
    }
    .service-icon {
      display: block;
      margin: auto;
      height: 150px;
      width: 150px;
    }
  }
  .card-title {
    text-align: center;
  }
}

.home .services {
  .cards {
    background-color: $light-background;

    .card {
      background: white;
    }
  }
}

.home .section.how {
  background: $dark-background;
  color: white;

  .header h2{
    color: white;
  }
  .card {
    color: black;
    background: white;
  }
  .mode {
    margin-bottom: 60px;
  }
}

.home .section.get-started {
  .start-panel {
    height: 800px;
    float: left;

    &.image-container {
      background: black;
      width: 40%;
    }
    &.content-container {
      background: $light-background;
      width: 60%;

    }
  }
}
