@import "variables";
$principle-border: 1px solid black;

.home.top-level .headline {
  .jumbotron {
    margin-bottom: 0;
    padding: 0;

    &.main {
      background: white;
    }
  }
}

.home.top-level .headline {
  .jumbotron {
    z-index: 20;

    .pitches {
      padding: 140px;

      @media only screen and (max-width: 1600px) {
        padding: 130px 80px;
      }
      @media only screen and (max-width: 1200px) {
        padding: 60px 40px;
      }
      @media only screen and (max-width: 992px) {
        padding: 60px 0;
      }
      @media only screen and (max-width: 600px) {
        padding: 40px 0 50px;
      }
    }
    .pitch {
      color: #555;
      font-size: 48px;
      font-weight: 800;
      text-align: center;

      @media only screen and (max-width: 1750px) {
        font-size: 44px;
      }
      @media only screen and (max-width: 1500px) {
        font-size: 36px;
      }
      @media only screen and (max-width: 1270px) {
        font-size: 32px;
      }
      @media only screen and (max-width: 1100px) {
        font-size: 30px;
      }
      @media only screen and (max-width: 600px) {
        font-size: 26px;
      }
    }

    .subpitch {
      color: #555;
      font-size: 30px;
      text-align: center;
      padding-top: 40px;

      @media only screen and (max-width: 1600px) {
        font-size: 28px;
        padding-top: 30px;
      }
      @media only screen and (max-width: 1200px) {
        font-size: 22px;
        padding-top: 30px;
      }
      @media only screen and (max-width: 992px) {
        font-size: 20px;
        padding-top: 20px;
      }
      @media only screen and (max-width: 600px) {
        font-size: 18px;
        padding-top: 10px;

      }
    }
  }
}

.home.top-level .services {
  .row {
    background-color: $light-background;
  }
  .cards {
    .card-title {
      margin: 35px auto 0;
    }
    .card-title, .card-body {
      color: $font-color-dark;
    }
    .card-body {
      font-size: 22px;

    }
    .card {
      background: white;
      height: 600px;

      @media only screen and (max-width: 1500px) {
        height: 700px;
      }

      @media only screen and (max-width: 1300px) {
        height: 750px;
      }

      @media only screen and (max-width: 1100px) {
        height: 850px;
      }
      @media only screen and (max-width: 992px) {
        height: initial;
        margin-bottom: 50px;
      }
    }
  }
}

.home.top-level {
  .header h2 {
    margin: 180px auto 80px;
    color: $font-color-dark;
  }
}

.home.top-level .development{
  .header {
    color: $font-color-dark;
    text-align: center;
    margin-bottom: 25px;
  }
  .development-card {
    background-size: cover;
    height: 450px;
    color: white;
    text-align: center;

    .content {
      padding: 170px 20px;

      .card-title {
        font-size: 46px;
        height: 120px;
      }
      .card-body {
        font-size: 20px;
      }
    }
  }
}

.home.top-level .section.work {
  .row {
    background: $light-background;
  }

  .principle-icon {
    margin: 40px auto 0px;
  }
  .principle-content {
    width: 80%;
    margin: auto;
  }
  .work-card {
    height: 545px;
    font-size: 24px;
    color: $font-color-dark;
    text-align: center;
    padding-bottom: 30px;

    @media only screen and (max-width: 1400px) {
      height: 580px;
      font-size: 22px;
    }
    @media only screen and (max-width: 1300px) {
      font-size: 20px;
    }
    @media only screen and (max-width: 992px) {
      border-right: none !important;
      border-left: none !important;
      height: initial;
      border-bottom: $principle-border;
    }

    &.flexible {

      img {
        margin-top: 20px;
        height: 125px;
        width: 125px;
      }
      .title {
        margin-top: 15px;
      }
    }
    .title {
      margin: 20px 0;
      height: 80px;
    }
    // boredes need to change for single column
    &:nth-child(1) {
      border-right: $principle-border;
      border-bottom: $principle-border;
    }
    &:nth-child(2) {
      border-bottom: $principle-border;
      border-right: $principle-border;

    }
    &:nth-child(3) {
      border-bottom: $principle-border;
    }
    &:nth-child(4) {
      border-right: $principle-border;
    }
    &:nth-child(5) {
      border-right: $principle-border;
    }
  }
}

.home.top-level .section.engage {
  padding-bottom: 150px;
  background: $light-background;
  margin: 0 -15px;

  .card-title {
    margin: 35px auto 0;
  }
  .card, .card-title {
    color: $font-color-dark;
  }
  .card {
    min-height: 525px;
    background: white;
    font-size: 24px;
  }
  .mode {
    margin-bottom: 60px;
  }
}

.home.top-level .section.get-started {
  border-top: 1px solid #666;
  background-image: url(/assets/images/banner4.jpg);
  background-size: cover;

  margin: 0 -15px;

  .message textarea {
    height: 150px;
  }

  .start-panel {
    #contact-form {
      h2 {
        font-size: 45px;
        margin: 90px auto 50px;
      }
      label {
        color: white;
        margin-bottom: 10px;
        font-size: 20px;
      }
    }
  }
  .form-group {
    margin-bottom: 30px;
  }
  .btn-primary {
    font-size: 20px;
    width: 200px;
  }
  .content-container h2 {
    margin-top: 30px;
  }
  .start-panel {
    height: 900px;

    @media only screen and (max-width: 1100px) {
      height: 1000px;
    }

    &.content-container {
      h2 {
        color: white;
        margin: 90px auto 75px;
        text-align: center;
        font-size: 40px;
      }
      input, textarea {
        font-size: 18px;
      }
      .btn {
        background: $sapa-blue;
        display: block;
        margin-top: 40px;
        width: 250px;
        font-size: 20px;
        padding: 10px 20px;

        &:hover {
          background: $sapa-blue-highlight;
          text-decoration: none;
        }
      }
    }
    span.required {
      color: #FF3939;
    }
    .success-message {
      margin-top: 300px;
      display: none;

      h2 {
        font-weight: 900;
        font-size: 40px;
      }
    }
  }
}
