@import "variables";
/**
 * Main Page Jumbotrons
 */
.top-level .headline {
  .jumbotron {
     height: 600px;
     background-size: cover;

    &.main {
      position: relative;
    }
  }
}

/**
 * card mixin
 */
.cards {
  .card {
    // margin: 10px 50px;
    border: 2px solid #ddd;
    border-radius: 1px;

    .card-header {
      height: 130px;
      margin-top: 30px;
    }
    .card-body {
      margin-top: 40px;
      padding: 10px 30px;
    }
    .service-icon, .engage-icon {
      display: block;
      margin: auto;
      height: 150px;
      width: 150px;
    }
  }
  .card-title {
    text-align: center;
  }
}

// ==========================
// header
// ==========================
.navbar-brand {
  padding: 0px;
  height: 80px;

  img {
    height: 100%;

    @media only screen and (max-width: 768px) {
      height: 75%;
    }
  }
}

.navbar {
  .navbar-toggle {
    padding: 0 10px;
    margin: 25px 15px 25px 0;
  }
  .icon-bar {
    background: black;
  }
  .navbar-collapse {
    a {
      color: $font-color-dark;
      font-size: 26px;
      padding-top: 30px;
      padding-right: 40px;
      text-shadow: none;
      text-align: center;

      @media only screen and (max-width: 1200px) {
        padding-right: 20px;
        font-size: 24px;
      }
      @media only screen and (max-width: 992px) {
        padding-right: 5px;
        font-size: 20px;
      }

      &:hover, &:focus {
        background: none !important;
        color: #A731A7;
      }
    }
  }
}
