@import "variables";
/**
 * Main Page Jumbotrons
 */
.top-level .headline {
  .jumbotron {
     background-size: cover;

    &.main {
      position: relative;
    }
  }
}

/**
 * card mixin
 */
.cards {
  .card {
    border: 1px solid #ddd;
    border-radius: 1px;

    .card-header {
      height: 130px;
      margin-top: 30px;
    }
    .card-body {
      margin-top: 40px;
      padding: 10px 30px;
    }
    .service-icon, .engage-icon {
      display: block;
      margin: auto;
      height: 150px;
      width: 150px;
    }
  }
  .card-title {
    text-align: center;
  }
}

.header h2 {
  margin: 80px auto;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  color: black
}

// ==========================
// header
// ==========================
.navbar-brand {
  padding: 0px;
  height: 80px;

  img {
    height: 100%;

    @media only screen and (max-width: 500px) {
      height: 90%;
    }

    @media only screen and (max-width: 450px) {
      height: 80%;
    }
  }
}

.navbar {
  margin-bottom: 0px;
  background: white;

  .navbar-toggle {
    padding: 0 10px;
    margin: 25px 15px 25px 0;
  }
  .icon-bar {
    background: black;
  }
  .navbar-collapse {
    li a {
      color: $font-color-dark;
      font-size: 26px;
      padding-top: 30px;
      padding-right: 40px;
      text-shadow: none;
      text-align: center;

      @media only screen and (max-width: 1200px) {
        padding-right: 20px;
        font-size: 24px;
      }
      @media only screen and (max-width: 992px) {
        padding-right: 5px;
        font-size: 18px;
      }
      &:hover, &:focus {
        background: none !important;
        color: #A731A7;
      }
    }
    li:last-child a {
      @media only screen and (max-width: 992px) {
        padding-right: 15px;
      }
    }
  }
}

// ==========================
// Footer
// ==========================

.site-footer {
  background: #191919;
  color: white;
  text-align: center;

  .main {
    margin: 60px 0;

    .logo {
      width: 100px;
      height: 100px;
    }
    a, span.bright {
      color: #2af5ff;
    }
    .link-list {
      margin: 40px 0;
      display: block;
      list-style: none;

      li {
        font-size: 22px;
        display: inline;
        padding: 0 20px;

        &:not(:first-child) {
          border-left: 1px solid #aaa;
        }
      }
      a {
        color: white;
      }
    }
  }
}

.col-full-width {
  padding: 0!important;
}
