@import "variables";

.team-card .card-container{
  display: block;
  width: 95%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
  background: white;
  height: 700px;

  .name-header {
    color: $font-color-dark;
    text-align: center;
  }
  .card-image img{
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 100px;
    display: block;
    margin: auto
  }

  .card-body p {
    color: $font-color-dark;
    padding: 10px 30px;
    font-size: 24px;
  }
}

.team.top-level {
  .pitch {
    text-align: center;
  }
}
