@import "variables";

.tech.top-level .headline {
  .jumbotron {
    &.main {
      background-image: url(/assets/images/code5alt3.jpg);
    }

  .pitch {
      padding-top: 80px;
      z-index: 20;

      p {
        color: white;
        font-size: 72px;
        font-weight: 800;
        text-align: center;

        @media only screen and (max-width: 992px) {
          font-size: 40px;
        }
      }
    }
  }
}

.tech.top-level {
  .header h2 {
    @media only screen and (max-width: 992px) {
      text-align: center;
    }
  }
}

.tech.top-level .main.container-fluid {
  background-color: $light-background;
}

// move to general
.tech-card .card-container{
  display: block;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
  background: white;
  height: 375px;

  @media only screen and (max-width: 475px) {
    height: 450px;
  }

  .card-logo img{
    padding: 10px;
    display: block;
    margin: auto
  }
  .card-title h3 {
    text-align: center;
  }

  .card-body p {
    padding: 10px 30px;

    @media only screen and (max-width: 1450px) {
      padding: 5px;
    }

    @media only screen and (max-width: 1199px) {
      padding: 30px;
    }
  }
}
